@*@model PetCareAppMVC.Features.Login.LoginViewModel*@
@*@model PetCareAppMVC.Features.Listings.SessionViewModel*@

@model IList<Domain.Listings>

@{
    ViewData["Title"] = "oglasi";

}


 






<link asp-append-version="true" rel="stylesheet" href="~/styles/listings.css" />


 <div class="center__container" >
      <div>
        <div class="navbar">
          <div class="header__logo">
            <div class="split__left_20"></div>
            <div class="split__right_80">
              <img class="header__logo__img" src="~/resources/logo_horizontal.png" alt="">
            </div>
          </div>
          <div class="header__empty">
          </div>
          <div>



@*     <input type="button" value="Moji oglasi" onclick="window.open('@Url.Action("MyListings", "Listings", new {sessionId = @ViewBag.SessionId,  UserName = @ViewBag.UserName})')"/>
*@     

<a type="button" href="/Listings/MyListings?sessionId=@ViewBag.SessionId&UserName=@ViewBag.UserName">Moji oglasi</a>
<a type="button" href="/Logout/Index?sessionId=@ViewBag.SessionId&UserName=@ViewBag.UserName">Odjava</a>

    @*<input type="button" value="Odjava" onclick="window.open('@Url.Action("Index", "Logout", new {sessionId = @ViewBag.SessionId, UserName = @ViewBag.UserName} )')"/>*@

 

            <div class="dropdown">
              <!-- <button class="dropbtn">todo ime korisnika  -->
              <i class="fa fa-caret-down"></i>
              </button>
              <!-- <div class="dropdown-content">
                <a href="#login">Moji oglasi</a>
                <a href="#signup">Moj profil</a>
                </div> -->
            </div>
          </div>
        </div>
        <div>
          <style>
            table, th, td {
            border:1px solid black;
            }
          </style>
          <table class="center__login__table" style="width: 100%;">
            <tr>
              <td>
                <table>
                  <tr>
                    <td style="width: 50%;">

                        <style type="text/css">
                            #scrollable_div{
                                overflow-y: auto;
                                overflow-x: hidden;
                                /* width: 1500px; */
                                height: 600px;
                                border: solid thin black;
                            }
                        </style>

                      <div id="scrollable_div">
                        <table>
                         
                                  @foreach (var item in Model)
      {
          <script>console.log("@item.Title")</script>

        <tr>
            <td>


 <table id= @item.ListingId>

                                        <tr>
                                          <td>
                                            datum pocetka: @item.StartDate
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            datum kraja: @item.EndDate  
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            opis: @item.AdlistingDescription
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            cijena: @item.Price
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            broj telefona: @item.Title
                                          </td>
                                        </tr>
                        
                    
                                    </table>                       





</td>
 
        </tr>
      }

                            
                            <tr>

                                <td>
                       
                                <table id="listing_1">
                                    <tr>
                                      <td>
                                        opis: vrtic za pse do uzrasti od 5 godina
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        cijena: 20 kn dan
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        zivotinje: samo psi
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        lokacija: kod parkinga
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        period od: 8
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        period do: 4
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        stan ili kuca: kuca
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        kat: prizemlje
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        recenzije do sad, prosjek ocjena + opis: 5.0
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        broj telefona: 0546544646464
                                      </td>
                                    </tr>
                                  </table>

                                  </td>
                            </tr>

                            <tr>
                                <td>
                                    <table id="listing_2">
                                        <tr>
                                          <td>
                                            opis: sisamo pse svih vrsta
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            cijena: 50 kn frizura                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinje: samo psi
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            lokacija: tresnjevka 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period od: jucer
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period do: sutra
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            stan ili kuca: salon
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            kat: prizemlje
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            recenzije do sad, prosjek ocjena + opis: svi sretni i zadovoljni                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                           broj telefona : 05464876631
                                          </td>
                                        </tr>  
                                    </table>                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table id="3">
                                        <tr>
                                          <td>
                                            opis:  Frizerski salon za Pse
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            cijena: 100€
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinje: Male kućne
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            lokacija: Zapadni kolodvor
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period od: danas 
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period do: sutra
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            stan ili kuca: kuca
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            kat: 0
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            recenzije do sad, prosjek ocjena + opis: odlično
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            broj telefona : 098237273232
                                          </td>
                                        </tr>  
                                    </table>                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table id="4">
                                        <tr>
                                          <td>
                                            opis: veterinarska stanica
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            cijena: 500 kn / sat
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinje: sve
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            lokacija: u brdu
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period od: 2008
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period do: do penzije
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            stan ili kuca: ordinacija
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            kat: 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            recenzije do sad, prosjek ocjena + opis: strah i trepet za sve mace
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            borj telefona : 09327965872
                                          </td>
                                        </tr>  
                                    </table>                                </td>
                            </tr>

                        </table>
                      
                      </div>

                




                    </td>
                    <td style="width: 50%;">
         
                      <style type="text/css">
                        #Map {
                        width: 500px;
                        height: 500px;
                        }
                      </style>
                      <script src="~/OpenLayers-2.13.1/OpenLayers.js"></script>
                      <script src="~/scripts/map.js"></script>
                      <div id="Map" style="width: 100%;"></div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
       
          </table>
        </div>
      </div>
    </div>