@*@model PetCareAppMVC.Features.Login.LoginViewModel*@
@model IList<Domain.Listings>

@{
    ViewData["Title"] = "oglasi";
}

<link asp-append-version="true" rel="stylesheet" href="~/styles/listings.css" />

 <div class="center__container" >
      <div>
        <div class="navbar">
          <div class="header__logo">
            <div class="split__left_20"></div>
            <div class="split__right_80">
              <img class="header__logo__img" src="~/resources/logo_horizontal.png" alt="">
            </div>
          </div>
          <div class="header__empty">
          </div>
          <div>
            <a href="#home">person</a>
            <a href="#home">listing</a>
            <a href="#home">itd</a>
            <a href="#home">itd</a>
            <a href="#home">Pretraži</a>
              <a href="#news">Odjava</a>
            <div class="dropdown">
              <!-- <button class="dropbtn">todo ime korisnika  -->
              <i class="fa fa-caret-down"></i>
              </button>
              <!-- <div class="dropdown-content">
                <a href="#login">Moji oglasi</a>
                <a href="#signup">Moj profil</a>
                </div> -->
            </div>
          </div>
        </div>
        <div>

  @*          <table>
                <tr>
                    <td  class="split__left_20">
        l
                    </td>
                    <td class="split__right_80">
                        d
                    </td>
                </tr>

            </table>*@



            </div>


            <style>

                .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
            </style>

      <div class="float-container">

  <div class="float-child">
    <div class="green">

            <div id="listingTable" style="background-color: lightblue;"></div>
    <a href="javascript:prevPage()" id="btn_prev">Prev</a>
    <a href="javascript:nextPage()" id="btn_next">Next</a>
    page: <span id="page"></span>


    </div>
  </div>
  
  <div class="float-child">
    <div id="det" class="blue">


                  @*<partial name="Edit" data="" />*@
                  @*<partial name="/Pet/Edit?sessionId=aSG5dXcjCag9KR4HiAWh&UserName=us&adListingId=1" />*@

                  

        Float Column 2
    
    </div>
  </div>
  
</div>



    <script>
        let objJson = [];

let l_1 = [];
let l_2 = [];
let l_3 = [];



    </script>

 
               @foreach (var item in Model)
                                  {

                                    <script>

objJson.push({
    adName: {
        "adlisting id": "@item.ListingId",
        "start date": " @item.StartDate  ",
        "end date": " @item.EndDate ",
        "id adr": "@item.IdAdress",
        "adlisting descr": "@item.AdlistingDescription",
        "isactive": "@item.IsActiv",
        "price": "@item.Price",
        "title": "@item.Title",
        "petid": "@item.PetId",
        "petname": "@item.PetName",
        "adress": "@item.adress",
        "adress_id": "@item.IdAdress"
    }
})

l_1.push(
 `start date:  " @item.StartDate  " <hr/> end date " @item.EndDate "<hr/>  adlisting description   "@item.AdlistingDescription"<hr/> title "@item.Title"<hr/>  is active "@item.IsActiv" <hr/> petid  "@item.PetId",`
)

l_2.push(
    `"petname": "@item.PetName" <hr/> sex ? <hr/> pet type ? <hr/> size ? <hr/> breed ? `
)

l_3.push(

`"adress": "@item.adress",<hr/> city: ?<hr/>postal code ?<hr/>country ? <hr/>ishouse ? <hr/> floor?<hr/> `
)

console.log(objJson);
                                    </script>
                                       }
                    

@{


                                                        <script>
                                                        let sessionid = "@ViewBag.sessionId";
                                                        let username = "@ViewBag.UserName";
                                       
                                                        
                                                                    
                                                             </script>

}


    <script>

        var current_page = 1;
        var records_per_page = 2;

  
        function prevPage()
        {
            if (current_page > 1) {
                current_page--;
                changePage(current_page);
            }
        }

        function nextPage()
        {
            if (current_page < numPages()) {
                current_page++;
                changePage(current_page);
            }
        }
            
        function changePage(page)
        {
            var btn_next = document.getElementById("btn_next");
            var btn_prev = document.getElementById("btn_prev");
            var listing_table = document.getElementById("listingTable");
            var page_span = document.getElementById("page");
        
            // Validate page
            if (page < 1) page = 1;
            if (page > numPages()) page = numPages();

            listing_table.innerHTML = "";
                  if (objJson[i] !== 'undefined') {

                        listing_table.innerHTML += "<table>"


                } 
            for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < objJson.length; i++) {

                 

                if (objJson[i] !== undefined) {
                      console.log(objJson[i])


                     listing_table.innerHTML += "oglas:" + ": "+ objJson[i].adName["title"] + ""; 
                    listing_table.innerHTML +=      
                    '<input type="button" onclick="window.open(\'/Listings/Edit?sessionId='+
                    sessionid+
                    '&UserName='+
                    username+
                    '&adListingId='+ String(objJson[i].adName["adlisting id"])+
                    '\');show('+i +',' +0 +')" value="Uredi" id="uredi_'+String(i)+'"/>'
                    listing_table.innerHTML +=      
                    '<input type="button" onclick="window.open(\'/Listings/DeleteListing?sessionId='+
                    sessionid+
                    '&UserName='+
                    username+
                    '&adListingId='+ String(objJson[i].adName["adlisting id"])+
                    '\')" value="Izbrisi" id="izbrisi_'+String(i)+'"/>'
                    listing_table.innerHTML += "<br/>"
                    listing_table.innerHTML += "<br/>"
                

                    listing_table.innerHTML += "zivotinja:" + ": "+ objJson[i].adName["petname"] + ""; 
                    listing_table.innerHTML +=      
                    '<input type="button" onclick="window.open(\'/Pet/Edit?sessionId='+
                    sessionid+
                    '&UserName='+
                    username+
                    '&adListingId='+ String(objJson[i].adName["petid"])+
                    '\');show('+i +',' +1 +')" value="Uredi" id="uredi_'+String(i)+'"/>'                
                    listing_table.innerHTML +=      
                    '<input type="button" onclick="window.open(\'/Pet/Delete?sessionId='+
                    sessionid+
                    '&UserName='+
                    username+
                    '&adListingId='+ String(objJson[i].adName["petid"])+
                    '\')" value="Izbrisi" id="izbrisi_'+String(i)+'"/>'
                    listing_table.innerHTML += "<br/>"
                    listing_table.innerHTML += "<br/>"


    
                    
                    listing_table.innerHTML += "adresa:" + ": "+ objJson[i].adName["adress"] + ""; 

       
                    listing_table.innerHTML +=      
                    '<input type="button" onclick="window.open(\'/Adress/Edit?sessionId='+
                    sessionid+
                    '&UserName='+
                    username+
                    '&adListingId='+ String(objJson[i].adName["adress_id"])+
                    '\');show('+i +',' +2 +')" value="Uredi" id="uredi_'+String(i)+'"/>'
                    listing_table.innerHTML +=      
                    '<input type="button" onclick="window.open(\'/Adress/Delete?sessionId='+
                    sessionid+
                    '&UserName='+
                    username+
                    '&adListingId='+ String(objJson[i].adName["adress_id"])+
                    '\')" value="Izbrisi" id="izbrisi_'+String(i)+'"/>'
                    listing_table.innerHTML += "<br/>"
                    listing_table.innerHTML += "<br/>"

                            listing_table.innerHTML += "<hr/>" 
                        


                }
                          
                   
               if (objJson[i] !== 'undefined') {


            listing_table.innerHTML += "</table>"

                } 
}            page_span.innerHTML = page + "/" + numPages();


            if (page == 1) {
                btn_prev.style.visibility = "hidden";
            } else {
                btn_prev.style.visibility = "visible";
            }

            if (page == numPages()) {
                btn_next.style.visibility = "hidden";
            } else {
                btn_next.style.visibility = "visible";
            }
        }

        function numPages()
        {
            return Math.ceil(objJson.length / records_per_page);
        }

        window.onload = function() {
            changePage(1);
        };
    </script>



          <style>
            table, th, td {
            border:1px solid black;
            }
          </style>

          <hr/>



        <input type="button" value="Dodaj novi oglas" onclick="window.open('@Url.Action("Create", "Listings", new {sessionId = @ViewBag.SessionId, UserName = @ViewBag.UserName} )')"/>


      
        </div>
      </div>
    </div>
    

        <div id="tmpdiv"></div>


    <script>

function show(id, c) {

    if (c == 0) {
        document.getElementById("det").innerHTML = "<div style='background-color:lightblue'>" + l_1[id] + "</div><hr/>"

    } else {
               document.getElementById("det").innerHTML = "<div>" + l_1[id] + "</div><hr/>"

    }
    
        if (c == 1) {
        document.getElementById("det").innerHTML += "<div style='background-color:lightblue'>" + l_2[id] + "</div><hr/>"

    } else {
               document.getElementById("det").innerHTML += "<div>" + l_2[id] + "</div><hr/>"

    }
    
        if (c == 2) {
        document.getElementById("det").innerHTML += "<div style='background-color:lightblue'>" + l_3[id] + "</div><hr/>"

    } else {
               document.getElementById("det").innerHTML += "<div>" + l_3[id] + "</div><hr/>"

    }
    

       // document.getElementById("det").innerHTML += l_2[id]
        //document.getElementById("det").innerHTML += l_3[id]

}


    </script>

            <div>

            </div>